**/lib
**/node_modules
**/style
**/package.json
**/tsconfig.json
**/tsconfig.test.json
**/*.d.ts
**/test
**/ui-tests
**/labextension

docs
tests
.eslintrc.js
jupyter-config
jupyter_collaboration
jupyter_collaboration_rename

packages/collaboration-rename/babel.config.js
packages/docprovider-rename/babel.config.js
packages/docprovider-rename/jest.config.js
